<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta http-equiv="X-UA-COMPATIBLE" content="ie=edge"/>
        <title>JavaScript Quizzes | <%= title %></title>
        <link rel="stylesheet" type="text/css" href="/style.css" media="screen"/>
        <script src="https://kit.fontawesome.com/4f18e4f9dd.js"></script>
    </head>
    <body>
        <nav class="nav">
            <div class="nav__part-one">
                <div class="nav__logo-box">
                    <a class="nav__logo">JavaScript Quizzes</a>
                </div>
                <i class="nav__togglecon fa fa-bars"></i>
            </div>
            <div class="nav__part-two">
                <a class="nav__link">Login</a>
                <a class="nav__link">Register</a>
            </div>
        </nav>
        <main>
            <div class="test-container">
            <h1>Subscribe</h1>

                <form action="/user/subscribe" method="POST" id="payment-form">
                    <div class="form-row">
                        <label for="card-element">
                        Credit or debit card
                        </label>
                        <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display Element errors. -->
                        <div id="card-errors" role="alert"></div>
                    </div>

                    <button class="btn">Submit Payment</button>
                </form>
            </div>
        </main>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            var stripe = Stripe('pk_test_AMGFwfDvucMnsk8xfNQtDEGX00BYB4SwXN');
            var elements = stripe.elements();

            var style = {
            base: {
                // Add your base input styles here. For example:
                fontSize: '30px',
                color: "#32325d",
            }
            };

            // Create an instance of the card Element.
            var card = elements.create('card', {style: style});

            // Add an instance of the card Element into the `card-element` <div>.
            card.mount('#card-element');

            card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
            });

            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                // Inform the customer that there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
                } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
                }
            });
            });

            function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
            }

        </script>
    </body>
</html>